/* html{
    scroll-behavior: smooth;
} */
body{
    background-color: #0B0C10;
    transition: all 0.7s;
    height: 100%;
    margin: auto;
}
body::-webkit-scrollbar {
    width: 10px;
}
   
body::-webkit-scrollbar-track {
    background-color: #0B0C10;
}
   
body::-webkit-scrollbar-thumb {
    background-color: #45A29E;

}
span{
    color: #C5C6C7;
    display: block;
    padding-left: 10%;
    font-size: 17px;
}
h1{
    text-align: center;
    color: #66FCF1;
}
h3, h4, h5{
    text-align: center;
    color: #45A29E;
    font-size: 1.14em;
}
.last-H4 {
    width: 80%;
    margin: auto;
}
.TextArea-Pare 
{
    display: flex;
    align-items: center;
    justify-content: center;
}
textarea{
    width: 80%;
    outline: none;
    border: none;
    background-color: #0B0C10;
    color:#C5C6C7;
    resize: none;
    columns: 3;
    font-size: 16px;
    border: 1px solid #45A29E;
    margin-top: 20px;
    height: 180px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}
p{
    padding-left: 10%;
    color: #CC5500;
    font-size: 20px;
    text-transform: capitalize;
}
.img 
{
    display: block;
    width: 25%;
    margin:auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.button-parent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#refreshBtn{
    background-color: transparent;
    border: 1px solid #45A29E;
    border-radius: 5px;
    color: #C5C6C7;
    padding: 4px;
    width: 115px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: unset;
    font-size: 18px;
    transition: all 0.5s;
    margin-bottom: 30px;
}
#refreshBtn:hover{
    background-color:#45A29E;
    color: #0B0C10;
}